
  <% if logged_in? %>

      <%= render @uppies %>

    <% end %>

    <%= form_with(model: @uppy, :html => { multipart: true }, class: "mt-6") do |f| %>

        <div>
          <%= f.label "Quote:", class: "text-white" %>
          <%= f.text_field :body %>
        </div>

        <%# change from text_field to file_field and specify what formats to accept for picture %>

        <div>
          <%= f.label "Picture", class: "text-white" %>
          <%= f.file_field :Wallpaper, accept: 'image/jpeg,image/jpg,image/gif,image/png' %>
        </div>

        <div>
          <%= f.submit "Post", class: "text-white"%>
        </div>
  <% end %>
















































  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1><h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
  <h1>t</h1>
