<%# Error displaying below %>
<div class="w-full">
  <% if notice.present? %>
    <p class="ml-52 mt-4 py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  
<%# Interating through all the posts and rendering the partial for it %>
  <div id="uppies" class="min-w-full">
    <%= render @uppies %>
  </div>
</div>

<%# Below is the form to add a Post to the Index Page %>

<div class="border border-white py-4 px-4 w-fit h-fit mt-2 ml-52">
  <%= form_with(model: @uppy) do |form| %>
    <div>
      <% if @uppy.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(uppy.errors.count, "error") %> prohibited this uppy from being saved:</h2>

          <ul>
            <% uppy.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-5 inline-block mr-4">
        <%= form.label "Quote", class: "text-white" %>
        <%= form.text_field :body, class: "text-white block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
      </div>

      <div class="my-4 inline-block mr-4 border border-white py-4">
        <%= form.label "Upload Image", class: "text-white ml-4" %>
        <%= form.file_field :wallpaper, accepts: "image/jpeg,image/png,image/gif,image/jpg", class: "text-white block shadow rounded-md outline-none px-3 py-2 mt-2" %>
      </div>

      <div class="inline-block mr-4">
        <%= form.submit "Post", class: "text-white py-1 px-2 inline-block cursor-pointer hover-links border border-white" %>
      </div>
    </div>
  <% end %>
</div>

