<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="items-center">
    <h1 class=" text-4xl">Posts</h1>
  </div>

  <div id="uppies" class="min-w-full">
    <%= render @uppies %>
  </div>
</div>

<%= form_with(model: @uppy) do |form| %>
  <% if @uppy.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(uppy.errors.count, "error") %> prohibited this uppy from being saved:</h2>

      <ul>
        <% uppy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :body %>
    <%= form.text_field :body, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :wallpaper %>
    <%= form.file_field :wallpaper, accepts: "image/jpeg,image/png,image/gif,image/jpg", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>